<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <h3>Posts</h3>
    <ol style="list-style: none">
      <% posts.forEach((post) => { %>
      <li>
        <a href="/post/<%= post.id %>"> <%= post.id %> - <%= post.title %> </a>
      </li>
      <% }) %>
    </ol>
    <h2><a href="/add-post">Add new post</a></h2>
  </body>
</html>
